.add-tweet input,
.add-tweet button {
        font-family: sans-serif;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 14px;
        width: 10vw;
        border-radius: 28px;
        border: 0.2vw solid #007bff;
        transition: 0.2s;
}

.add-tweet .tags,
.add-tweet .text,
.add-tweet button {
    display: inline-flex;
    margin-left: 30px;
}

.add-tweet input:focus,
.add-tweet input:hover {
    border: 0.2vw solid #003f83;
}


.add-tweet button {
    background-color:#007bff;
    color: #ffffff;
    cursor: pointer;
}

.add-tweet button:hover{
    background-color: #003f83;
}

h3 {
    text-align: center;
}