.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.7vw;
    outline: none;
}


.search-form input,
.search-form button {
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 16px;
    width: 10vw;
    border-radius: 28px;
    border: 0.2vw solid #007bff;
    transition: 0.2s;
}

.search-form .tags,
.search-form .author,
.search-form button {
    display: inline-flex;
    margin-left: 30px;
}

.search-form input:focus,
.search-form input:hover {
    border: 0.2vw solid #003f83;
}


.search-form button {
    background-color:#007bff;
    color: #ffffff;
    cursor: pointer;
}

.search-form button:hover{
    background-color: #003f83;
    border:  #003f83;
}

.tweet {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.2vw solid #ccc;
    border-radius: 2vw;
    padding: 10px;
    margin: 0.2vw;
    margin-left: 31vw;
    max-width: 35%;
    max-height: 16%;
}

.tweet-actions {
    text-align: center;
    letter-spacing: 6px;
    margin-bottom: 1px;
    border-top: 1px solid #ccc;
}

.tweet-header {
    border-bottom: 1px solid #ccc;
    
}



.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

.pagination .prev, 
.next {
    background-color:#007bff;
    color: #ffffff;
    padding: 4px;
    width: 5vw;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 28px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
    margin-bottom: -10px;
    text-align: center;
    font-size: 25px;

}

.pagination .prev:hover{
    background-color: #003f83;
    border: #003f83;
}
.pagination .next:hover{
    background-color: #003f83;
    border: #003f83;
}
