body {
    background-color: #fff;
    position:static;
    
}

aside {
    float: left;
    background: #fff;
    width: 30%;
    padding-left: 16%;
    height: 100vh;
    color: hsl(212, 89%, 35%);
    border-right: 1px solid #4d4d4d ;
}

div.right-panel {
    float: right;
    background: #fff;
    padding-right: 15vw;
    height: 100vh;
    color: hsl(212, 89%, 35%);
    border-left: 1px solid #4d4d4d ;
}


aside img {
    width: 45%;
    float: left;
    margin-left: -5%;

}

aside .logo {
    font-size: 1.8vw;
    margin-left: -1.4vw;
    font-weight: bold;
    position: relative;
    top: 1.3vw;

}

aside ul {list-style: none}
aside ul li {
    color: #000000;
    display: block;
    margin-top: 2.01vw;
    font-size:1.2vw;
    transition: all .3s ease;
}

aside   ul li:hover, aside   ul a:hover {
    color: hsl(212, 89%, 35%);
    transform: scale(1.05);
}

aside ul a {
    text-decoration: none;
}


.activ-user {
  float: left;
  width: 150%;
  color: rgb(0, 0, 0);
  margin-top: 130%;
  margin-left: 10%;
  text-decoration: none;
    
}
.left-panel button {
    margin-top: 15%;
    padding: 0.6vw;
    background-color:#007bff;
    color: #ffffff;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    width: 9vw;
}

