.tweet {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.2vw solid #ccc;
    border-radius: 2vw;
    padding: 10px;
    margin: 0.2vw;
    margin-left: 31vw;
    max-width: 35%;
    max-height: 16%;
}

.tweet-actions {
    text-align: center;
    letter-spacing: 6px;
    margin-bottom: 1px;
    border-top: 1px solid #ccc;
}

.tweet-header {
    color: hsl(212, 89%, 35%);
}



a {
    color: black;
    text-decoration: none;
}


.comment-form input,
.comment-form button {
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 16px;
    border-radius: 28px;
    border: 0.2vw solid #007bff;
    transition: 0.2s;
}

.comment-form input {
    width: 60%;
    
}

.comment-form,
.comment-form button {
    display: inline-flex;
    margin-left: 20px;
}

.comment-form input:focus,
.comment-form input:hover {
    border: 0.2vw solid #003f83;
}


.comment-form button {
    background-color:#007bff;
    color: #ffffff;
    cursor: pointer;
    width: 30%;
}

.comment-form button:hover{
    background-color: #003f83;
    border:  #003f83;
}

.tweet-header img {
    border-radius: 50%;
}

/* Стиль для обертки .comment */
.comment {
    border: 1px solid #ccc; /* Граничная линия */
    padding: 10px; /* Отступ внутри обертки */
    margin-top: 20px; /* Верхний отступ между комментариями и содержимым выше */
}

/* Стиль для каждого комментария .comment-item */
.comment-item {
    border: 1px solid #ddd; /* Граничная линия для каждого комментария */
    padding: 10px; /* Отступ внутри комментария */
    margin-bottom: 10px; /* Нижний отступ между комментариями */
}

/* Стиль для текста Comment by */
.comment-item p:first-child {
    font-weight: bold; /* Жирный текст для "Comment by" */
    margin-bottom: 5px; /* Нижний отступ после имени пользователя */
}

/* Стиль для даты */
.comment-item p:nth-child(2) {
    font-size: 12px; /* Уменьшенный размер шрифта для даты */
    color: #888; /* Серый цвет для даты */
}

/* Стиль для текста комментария */
.comment-item p:last-child {
    margin-top: 10px; /* Верхний отступ перед текстом комментария */
}
